<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <img style="width: 200px; height: 68px;" src="<%= "#{ @url }/antiqua_email_header.png" %>" />
    </p>
    <h1>Welcome to Antiqua.IO, <%= @user.user_name %></h1>
    <p>
      You have successfully signed up!
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to "Antiqua.IO" , @url %>.
    </p>
    <p>
      Don't forget that the first archive is FREE!
    </p>
    <p>
      ==================<br />
      Ryan Cook<br />
      ryan@antiqua.io<br />
      Creator<br />
    </p>
  </body>
</html>
