<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Well, <%= @user.user_name %></h1>
    <p>
      We're bummed you're unsubscribing from Antiqua.IO!
    </p>
    <p>
      You will receive no more monthly charges. You always have access to archives you've created.
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to "Antiqua.IO" , @url %>.
    </p>
    <p>
      ==================<br />
      Ryan Cook<br />
      ryan@antiqua.io<br />
      Creator
    </p>
  </body>
</html>
