<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li>
          <a id="antiqua-logo" class="brand" href="/">Antiqua</a>
        </li>
      </ul> <!-- ul.nav -->
      <ul class="nav pull-right">
        <li>
          <a href="http://antiqua-io.tumblr.com" target="_blank">Blog</a>
        </li>
        <li>
          <a href="/auth/github">Sign In</a>
        </li>
      </ul> <!-- ul.nav.pull-right -->
    </div> <!-- div.container -->
  </div> <!-- div.navbar-inner -->
</div> <!-- div.navbar.navbar-fixed-top -->
