<div id="wufoo-z7x3x5">
  Fill out my <a href="http://antiqua.wufoo.com/forms/z7x3x5">online form</a>.
</div>
<%= javascript_tag do %>
  var z7x3x5;(function(d, t) {
    var s = d.createElement(t), options = {
      'userName':'antiqua'
    , 'formHash':'z7x3x5'
    , 'autoResize':true
    , 'height':'517'
    , 'async':true
    , 'header':'show'
    };
    s.src = ( 'https:' == d.location.protocol ? 'https://' : 'http://' ) + 'wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try { z7x3x5 = new WufooForm();z7x3x5.initialize(options);z7x3x5.display(); } catch (e) {}
    };
    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
  })(document, 'script');
<% end %>
