<div class="hero-unit">
  <h1>Archive Your Repos</h1>
  <p class="call-to-action">
    Private repositories on GitHub can get stale sometimes. Have a few you aren't using anymore? Archive them with Antiqua. Creating an account is as easy as signing in with GitHub. <strong>The first archive is on us!</strong>
  </p>
  <p>
    <a href="/auth/github" class="btn btn-success btn-large">Sign Up Now</a>
  </p>
</div> <!-- div.hero-unit -->
<div class="row">
  <div class="span4">
    <h2>Peace of Mind</h2>
    <p>
      Antiqua is about knowing you have a safe backup of your code that might be sitting still for a while. We maintain what you'll need to pull out a project later and jump right back in. Archives are always private and available in just a few clicks.
    </p>
  </div> <!-- div.span4 -->
  <div class="span8">
    <h2>Pricing</h2>
    <p class="pricing">
      $3 <span class="pricing-separator">/</span> month for Individuals
    </p>
    <p class="pricing">
      $20 <span class="pricing-separator">/</span> month for Organizations
    </p>
  </div> <!-- div.span8 -->
</div> <!-- div.row -->
<div class="row">
  <div class="span6">
    <h2>Choose</h2>
    <p>
      Once you've logged in with GitHub, you'll be presented with a list of your private repositories in Antiqua. If you've got your eye on one to archive, just add it to the queue! <strong>Archived repos are NOT removed automatically from GitHub.</strong>
    </p>
  </div> <!-- div.span4 -->
  <div class="span6">
    <h2>Archive</h2>
      Finally, Antiqua will upload the *.tgz of your repo to a protected S3 bucket. You'll have access to download the archived version of your repo's entire Git history at any time. <strong>Repository collaborators WILL be able to see archives you've made.</strong>
    <p>
    </p>
  </div> <!-- div.span4 -->
</div> <!-- div.row -->
