<div class="alert alert-error">
  <a class='close' data-dismiss='alert'>×</a>
  <h4 class='alert-heading'>Uh Oh!</h4>
  You can only create one archive until you <a href='/users/{{ user_name }}/account'>subscribe!</a>
</div>
